.tasks li {
  &:hover {
    background-color: #f8f9fa;
  }
  > .row > .col {
    align-self: center;
  }
}

.card-body {
  padding: 0;
  .card-text {
    margin: 1.25rem;
  }
}

.page-title {
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 1.5rem;
}
