<div class="jumbotron">
  <h1 class="display-4">Welcome to E2E Testing!</h1>
  <p class="lead">In here, you can find unit testing and E2E testing samples, with smoke tests, auto-running unit tests
    via code watching, and best practice samples</p>
  <p class="lead">It uses tools like Jasmine, Protractor, Headless Chrome and Karma to power its testing suite. You'll find samples of tests for components, entire pages, object creation, forms and more across this application. </p>
  <hr class="my-4">
  <h4>Unit Tests</h4>
  <p>These are quick, light and focused tests that only cover a single component. </p>
  <p>Unit tests for a component are placed in a *.spec.ts file with a name matching that of the component. </p>
  <hr class="my-4">
  <h4>E2E Tests</h4>
  <p>E2E tests are not component specific, but can cover an entire page, or even span multiple pages. You can find these tests in the e2e/src folder</p>
  <p>E2E tests are split into two types: e2e-smoke and e2e-spec. The former are quick, lighter tests that only test the
    most basic functionality of the app. The latter analyses the application in detail, testing all the more advanced
    functionality and pages of the application. </p>
</div>
